body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.btn {
  background-color: #333;
  color: #ffffff;
  border-radius: 30px;
  padding-left: 30px;
  padding-right: 30px;
}
.btn:hover {
  color: #333;
  background-color: #ffffff;
  font-weight: bold;
}
.form-control {
  padding: 10px;
  border-radius: 30px;
}
.cardCont {
  background-color: #3333335e;
  text-align: center;
  border-radius: 0 30px 30px 0;
  padding: 10px;
  display: flex;
  flex-direction: column;
  text-align: center;
}
